<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CentralMED | Clínica Online</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-cs fixed-top">
        <a class="navbar-brand" href="#">CentralMED</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funcionalidades
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/agendamento">Agenda</a>
                <a class="dropdown-item" href="#"></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plano">Planos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quem somos nós?</a>
              </li>
              <li class="nav-item">
                <button class="btn btn-acessar"><a href="/cadastrar">COMEÇE AGORA</a></button>
              </li>
              <li class="nav-item ">
                <button class="btn button-acessar"><a href="/logar">ACESSAR</a></button>
              </li>
          </ul>
        </div>
      </nav>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://media.istockphoto.com/id/1364075546/pt/foto/empty-corridor-in-modern-hospital-with-information-counter-and-hospital-bed-in-rooms-3d.jpg?s=612x612&w=0&k=20&c=AAbtYVROH-hob3Cez4vuH1R7pNqp-AdmDsHknq2fy-8=" alt="First slide">
            <div class="carousel-caption">
              <h1>Agenda médica com confirmação de consulta</h1>
              <p>Confirmação de consultas de forma prática. Evite os buracos na agenda e agilize as marcações.</p>
              <p>Ofereça mais comodidade aos seus pacientes disponibilizando a sua agenda para eles em seu site ou rede social.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="titulo-exames">Conheça nossos exames</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Exame de Sangue</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu purus gravida, commodo sapien et, aliquet quam.</p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ressonância Magnética</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu purus gravida, commodo sapien et, aliquet quam.</p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ecografia</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu purus gravida, commodo sapien et, aliquet quam.</p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="informacoes-adicionais">
            <h2>Por que escolher CentralMED?</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/300" alt="">
                    <h5>Equipe médica qualificada</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/300" alt="">
                    <h5>Resultados precisos</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/300" alt="">
                    <h5>Tecnologia de ponta</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="mais-conteudo">
            <h2>Mais Conteúdo</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Notícias Recentes</h3>
                    <ul>
                        <li>Artigo: Novas descobertas no tratamento de doenças cardiovasculares</li>
                        <li>Entrevista: Dr. João fala sobre a importância dos exames de rotina</li>
                        <li>Evento: Webinar sobre saúde mental e bem-estar</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Dicas de Saúde</h3>
                    <ul>
                        <li>5 Alimentos para aumentar sua imunidade</li>
                        <li>Exercícios simples para aliviar dores nas costas</li>
                        <li>Como melhorar sua postura no trabalho</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>CentralMED</h3>
                    <p>Endereço: Av. Principal, 123 - Centro, Cidade - Estado</p>
                    <p>Telefone: (XX) XXXX-XXXX</p>
                    <p>Email: contato@centralmed.com</p>
                </div>
                <div class="col-md-6">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Agendamento Online</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
